.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 589px;
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 8px;
  }
  
  .open-modal {
    visibility: visible;
  }
  